[Unit]
Description=ibisibi
Requires=
After=

[Install]
WantedBy=multi-user.target

[Service]
User=pi
Type=simple
ExecStart=/home/pi/bin/ibisibi cycle 0-1 --serial /dev/ttyUSB0 --interval-secs 8
Restart=always
RestartSec=10
